<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/img/alarm-fill.svg" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>Exam Countdown: {% block title %}{% endblock %}</title>
  <link id="bootstrap-css" href="/static/css/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>

  {% block head %}
  {% endblock %}

  <style>
    .grecaptcha-badge {
      z-index:999;
    }

    body {
      font-family: Roboto;
      color: black;
      padding-top: 110px;
      margin: 0px;
    }

    #disclaimer {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #d8d8d8;
      text-align: center;
      font-size: 16px;

      a {
        color: darkslategray;
      }
    }

    .content {
      min-height: 100vh;
    }

    .hidden {
      display: none;
    }

    #anchor {
      scroll-margin-top: 100px;
    }

    .pointer {cursor: pointer;}

    .form-group label::after {
      content: "*";
      color: red;
      font-weight: bold;
      margin-left: 4px;
    }

    /* Hide the asterisk for labels that are not associated with required fields */
    .form-group input[required] + label::after {
      content: "*";
      color: red;
      font-weight: bold;
      margin-left: 4px;
    }

    .form-floating label::after {
      content: "";
    }
    
    .form-floating input[required] + label::after {
      content: "*";
      color: red;
      font-weight: bold;
      margin-left: 4px;
    }

    #main-navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1005;
    }
  </style>
</head>
<body>

  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="icon-success" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="icon-info" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="icon-danger" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
    <symbol id="icon-warning" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  
  <nav class="navbar navbar-expand-md bg-body-tertiary fixed-top nav-underline" id="main-navbar">
    <div class="container">
      <!-- Left section with Logo and Title -->
      <div class="dropdown">
        <a class="navbar-brand d-flex align-items-center dropdown-toggle" href="#" id="examDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-alarm-fill" style="font-size: 2rem; color: #090c5a;"></i>
          <p class="m-0 ms-2"><b>My Exams:</b> Countdown</p>
        </a>
        <ul class="dropdown-menu dropdown-menu-end px-2 me-3" aria-labelledby="examDropdown">
          <li>
            <a class="navbar-brand d-flex align-items-center m-0" href="https://questions.myexams.net">
              <i class="bi bi-search" id="logo" style="font-size: 2rem;"></i>
              <p class="ms-2 m-0"><b>My Exams:</b> Questions</p>
            </a>
          </li>
        </ul>
      </div>
  
      <!-- Toggler button for the main navigation -->
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Main collapsible navigation links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" id="home-tab" aria-current="page" href="{{url_for('main.home')}}">Home</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" id="exams-tab" aria-current="page" href="{{url_for('main.exams', level=current_user.level)}}">Exams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="timetable-tab" aria-current="page" href="{{url_for('main.timetable')}}">Timetable</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" id="gcse-tab" aria-current="page" href="{{url_for('main.exams', level='2')}}">GCSE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="as-level-tab" aria-current="page" href="{{url_for('main.exams', level='3a')}}">AS Level</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="a-level-tab" aria-current="page" href="{{url_for('main.exams', level='3b')}}">A Level</a>
          </li>
          {% endif %}
        </ul>
        <!-- Person-circle dropdown, positioned to the far right within the navbar-collapse -->
        <div class="dropdown ms-auto d-md-none">
          <a class="nav-link text-end" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="user-tab">
            <i class="bi bi-person-circle" style="font-size: 1.8rem;"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            {% if current_user.is_authenticated %}
            <li><a class="dropdown-item" href="{{url_for('main.exam_options')}}" id="exam-options-tab">Exam Options</a></li>
            <li><a class="dropdown-item" href="{{url_for('main.profile_options')}}" id="profile-options-tab">Profile Options</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{url_for('main.logout')}}" id="logout-tab">Log Out</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{{url_for('main.login')}}" id="login-tab">Log In</a></li>
            <li><a class="dropdown-item" href="{{url_for('main.signup')}}" id="signup-tab">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
  
      <!-- Person-circle dropdown, always visible in the navbar on larger screens -->
      <div class="dropdown d-none d-md-block">
        <a class="nav-link text-end" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="user-tab">
          <i class="bi bi-person-circle" style="font-size: 1.8rem;"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          {% if current_user.is_authenticated %}
          <li><a class="dropdown-item" href="{{url_for('main.exam_options')}}" id="exam-options-tab">Exam Options</a></li>
          <li><a class="dropdown-item" href="{{url_for('main.profile_options')}}" id="profile-options-tab">Profile Options</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{url_for('main.logout')}}" id="logout-tab">Log Out</a></li>
          {% else %}
          <li><a class="dropdown-item" href="{{url_for('main.login')}}" id="login-tab">Log In</a></li>
          <li><a class="dropdown-item" href="{{url_for('main.signup')}}" id="signup-tab">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <div aria-live="polite" aria-atomic="true" class="position-relative">
        <!-- Danger -->
        <div class="position-fixed toast-container top-0 start-50 translate-middle-x p-3">
          {% for category, message in messages %}
            {% if category == "danger" %}
              <div class="toast align-items-center border-0 bg-{{ category if category in ['success', 'warning', 'danger', 'info'] else 'info' }}-subtle" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                  <svg class="bi flex-shrink-0 me-1 ms-2 m-auto" role="img" aria-label="Info:" width="25px" height="25px" fill="var(--bs-toast-header-color)"><use xlink:href="#icon-{{category}}"/></svg>
                  <div class="toast-body">
                    {{message}}
                  </div>
                  <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- Others -->
        <div class="position-fixed toast-container bottom-0 end-0 p-3">
          {% for category, message in messages %}
            {% if category != "danger" %}
              <div class="toast align-items-center border-0 bg-{{ category if category in ['success', 'warning', 'danger', 'info'] else 'info' }}-subtle" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                  <svg class="bi flex-shrink-0 me-1 ms-2 m-auto" role="img" aria-label="Info:" width="25px" height="25px" fill="var(--bs-toast-header-color)"><use xlink:href="#icon-{{category}}"/></svg>
                  <div class="toast-body">
                    {{message}}
                  </div>
                  <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  

  <footer id="disclaimer" class="p-2">
    <div class="d-flex justify-content-between align-items-top">
      <p class="flex-grow-1">
        <strong>Disclaimer: </strong>
        Accuracy of exam data provided and its completeness is not guaranteed. <br>
        Users are encouraged to verify all information with official exam boards and their own timetables to ensure accuracy.
      </p>
      <button id="footer-close-btn" type="button" class="btn-close p-2" aria-label="Close"></button>
    </div>
    

    <div class="container text-center pb-2" style="padding-left:2rem; padding-right:2rem;">
      <div class="row align-items-start">
        <div class="col">
          <a href="/privacy_policy">Privacy Policy</a>
        </div>
        <div class="col">
          <a href="mailto:inbox@myexams.net">Contact</a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
    // keep track of previous scroll position
    let prevScrollPos2 = window.pageYOffset;

    window.addEventListener('scroll', function() {

      if (window.innerWidth < 978) {
        // current scroll position
        const currentScrollPos = window.pageYOffset;

        if (prevScrollPos2 > currentScrollPos) {
          // user has scrolled up
          document.querySelector('.navbar').classList.remove('hide');
        } else {
          // user has scrolled down
          document.querySelector('.navbar').classList.add('hide');
        }

        // update previous scroll position
        prevScrollPos2 = currentScrollPos;
      }
      
    });

    function disclaimerHide() {
      document.getElementById("disclaimer").style.position = "relative";
      document.getElementById("footer-close-btn").hidden = true;
      localStorage.setItem("disclaimerHidden", true);
    }

    function checkDisclaimerHidden() {
      if (localStorage.getItem("disclaimerHidden")) {
        document.getElementById("disclaimer").style.position = "relative";
        document.getElementById("footer-close-btn").hidden = true;
      } else {
        document.getElementById("disclaimer").style.position = "sticky";
        document.getElementById("footer-close-btn").hidden = false;
      }
    }

    document.getElementById("footer-close-btn").addEventListener("click", disclaimerHide)
    // Call checkDisclaimerHidden on page load
    window.onload = checkDisclaimerHidden;

    const toastElList = document.querySelectorAll('.toast')
    const toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl))
    toastList.forEach(toast => toast.show());
  </script>
</body>
</html>
