<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>Exam Countdown: {% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  {% block head %}
  {% endblock %}

  <style>

  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top nav-underline" id="main-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        Exam Countdown
      </a>

      <button class="navbar-toggler me-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin-left:auto;">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="home-tab" aria-current="page" href="{{url_for("home")}}">Home</a>
            </li>
        </ul>
      </div>

      <div class="dropdown">
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="user-tab">
          <i class="bi bi-person-circle ms-1 me-1" style="font-size: 1.8rem;"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          {% if current_user.is_authenticated %}
            <li><a class="dropdown-item" href="{{url_for("profile")}}" id="profile-tab">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for("logout")}}" id="logout-tab">Log Out</a></li>
          {% else %}
            <li><a class="dropdown-item" href="{{url_for("login")}}" id="login-tab">Log In</a></li>
            <li><a class="dropdown-item" href="{{url_for("signup")}}" id="signup-tab">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>

  

  <div class="container"> 
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="container fixed-top alert-container p-0" style="top:80px">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category if category in ['success', 'warning', 'danger', 'info'] else 'info' }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
  </div>

  {% block content %}
  {% endblock %}

  <br>
  <br>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  <script>
    // keep track of previous scroll position
    let prevScrollPos2 = window.pageYOffset;

    window.addEventListener('scroll', function() {

      if (window.innerWidth < 978) {
        // current scroll position
        const currentScrollPos = window.pageYOffset;

        if (prevScrollPos2 > currentScrollPos) {
          // user has scrolled up
          document.querySelector('.navbar').classList.remove('hide');
        } else {
          // user has scrolled down
          document.querySelector('.navbar').classList.add('hide');
        }

        // update previous scroll position
        prevScrollPos2 = currentScrollPos;
      }
      
    });
  </script>
</body>
</html>
