{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/tableSort.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h2><strong>Home</strong></h2>
        <br>
    
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-1"></i>
            Please don't rely on these exam dates. Always check with your school or exam board for the most up-to-date information.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% if current_user.subjects | length > 0 and next_exam_data %}
        <div class="card mb-4">
            <h4 class="card-header">Time to your next exam</h4>
            <div class="card-body text-center">
                <h1><strong data-exam-datetime="{{ next_exam_data.date | format_datetime_countdown }}"><div class="countdown"></div></strong></h1>
                <h5><strong>Date:</strong> {{ next_exam_data.date | format_datetime }} ({{ next_exam_data.time }})</h5>
                <h5><strong>Subject:</strong> {{ next_exam_data.subject }}</h5>
                <h5><strong>Title:</strong> {{ next_exam_data.title }}</h5>
                <h5><strong>Duration:</strong> {{ next_exam_data.duration }}</h5>
            </div>
        </div>
        {% else %}
        
        <div class="card mb-4">
            <h4 class="card-header">Time to your next exam</h4>
            <div class="card-body text-center">
                {% if current_user.subjects | length == 0 %}
                <h1>You have no exams selected</h1>
                <h4>Please select your subjects in the <a href="{{ url_for('user.subject_options') }}">subject options</a> page.</h4>
                {% else %}
                <h1>You have no upcoming exams</h1>
                {% endif %}
            </div>
        </div>
        {% endif %}
        
    </div>
    <div class="container-md">
        <div class="card mb-4">
            <h4 class="card-header">Timetable</h4>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sortable">
                        <thead>
                            <tr>
                                <th class="col-2" data-column="countdown">Countdown</th>
                                <th class="col-2" data-column="subject">Subject</th>
                                <th class="col-2" id="date-col" data-column="date">Date</th>
                                <th class="col-1" data-column="duration">Duration</th>
                                <th class="col-4" data-column="title">Title</th>
                                <th class="col-1" data-column="board">Board</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exam in exams %}
                            <tr data-exam-datetime="{{ exam.date | format_datetime_countdown }}">
                                <td class="countdown"></td>
                                <td>{{ exam.subject }}</td>
                                <td>{{ exam.date | format_datetime }} ({{ exam.time }})</td>
                                <td>{{ exam.duration }}</td>
                                <td>{{ exam.title }} {% if exam.tier %}({{ exam.tier }}){%endif%}</td>
                                <td>{{ exam.board }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/tableSort.js"></script>
    <script>
        const sortHeader = document.getElementById('date-col');
        sortHeader.click();
    </script>
    <script type="module">
        import {updateCountdown} from "/static/countdown.js";
        // Initial countdown update
        updateCountdown('[data-exam-datetime]');
        // Update countdown every second
        setInterval(function() { updateCountdown('[data-exam-datetime]'); } , 1000);
    </script>
{% endblock %}