{% extends "base.html" %}
{% block title %}Exams{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/tableSort.css">
{% endblock %}


{% block content %}
    <div class="container">
        <h2><strong>Upcoming Exams</strong></h2>
        <br>
    </div>
    <div class="container">
      {% if current_user.is_authenticated %}
        <p>
            This page shows the next exam for each of your selected subjects.<br>
            Click on a subject to see all exams for that subject.<br>
            You can choose your subjects in your <a href="{{url_for("main.exam_options")}}">exam options page</a>.
        </p>
      {% else %}
        <p>
            This page shows the next exam for each subject.<br>
            Click on a subject to see all exams for that subject.<br>
            You can <a href="{{url_for("main.signup")}}">sign up</a> to filter by your own subjects.
        </p>
      {% endif %}
      
      <br>
      {% for category, exams in exams_by_category.items() %}
      <div class="card mb-4">
          <div class="card-header">
              <h2>{{ category }}</h2>
          </div>
          <div class="card-body">
              <table class="table table-striped table-hover table-sortable">
                  <thead>
                      <tr>
                        <th class="col-2" data-column="countdown">Countdown</th>
                        <th class="col-2 date-col" data-column="date">Date</th>
                        <th class="col-2" data-column="subject">Subject</th>
                      </tr>
                  </thead>
                  <tbody>
                        {% for exam in exams.values() %}
                        <tr onclick="window.location.href='{{ url_for('main.show_selected_subject', level=exam.level, base_subject=exam.base_subject) }}'" style="cursor:pointer;" data-exam-datetime="{{ exam.date | format_datetime_countdown }}">
                            <td class="countdown col-3"></td>
                            <td>{{ exam.date | format_datetime }} ({{ exam.time }})</td>
                            <td class="col-3">{{ exam.base_subject }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
      {% endfor %}
    </div>

    <script src="/static/tableSort.js"></script>
    <script>
        const sortHeader = document.querySelectorAll('.date-col');
        function sortHead(head) {
            head.click()
        }
        sortHeader.forEach(sortHead)
    </script>

    <script type="module">
        import {updateCountdown} from "/static/countdown.js";
        // Initial countdown update
        updateCountdown('tr[data-exam-datetime]');
        // Update countdown every second
        setInterval(function() { updateCountdown('tr[data-exam-datetime]'); } , 1000);
    </script>
{% endblock %}