{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
<style>
    .centre-list ul {
        list-style-position: inside;  /* Keeps bullets next to text */
        padding-left: 20px;              /* Remove default left indent */
        margin: 0 auto;               /* Auto margins to centre */
        display: inline-block;        /* Keeps list tight to its content */
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <h2><strong>Home</strong></h2>
        <br>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-1"></i>
            Please don't rely on these exam dates. Always check with your school or exam board for the most up-to-date information.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
          
        <div class="row row-cols-1">
            <div class="col p-1">
                <div class="card mb-4">
                    <h4 class="card-header"><strong>See all exams for a specific qualification:</strong></h4>
                    <div class="card-body text-center p-2">
                        <a href="{{url_for("main.exams", level="2")}}" class="m-1 btn btn-lg btn-primary">GCSE</a>
                        <a href="{{url_for("main.exams", level="3a")}}" class="m-1 btn btn-lg btn-primary">AS Level</a>
                        <a href="{{url_for("main.exams", level="3b")}}" class="m-1 btn btn-lg btn-primary">A Level</a>
                        <br><br>
                        <p class="m-0">To see your specific exams, <a href="{{url_for("main.login")}}">log in</a>, or <a href="{{url_for("main.signup")}}">sign up</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col p-1">
                <div class="card mb-4">
                    <h4 class="card-header"><strong>Time to next GCSE exam</strong></h4>
                    <div class="card-body">
                        <h1 class="text-center"><strong data-exam-datetime="{{ next_gcse_exam.date | format_datetime_countdown }}"><div class="countdown"></div></strong></h1>
                        <h5 class="text-center"><strong>Date:</strong> {{ next_gcse_exam.date | format_datetime }} ({{ next_gcse_exam.time }})</h5>
                        <h5 class="text-center"><strong>Subjects:</strong><br></h5>
                        {% for subject in next_gcse_exam.subjects %}
                            <h6 class="m-0"><b>{{subject.subject}}:</b></h6>
                            <div class="centre-list">
                                <ul>{% for exam in subject.exams %}<li><span style="color: var(--bs-primary);">{{exam.board}} {{exam.subject}}</span> {{exam.title}}: {{exam.duration.replace(' ', '&nbsp;') | safe}}{% if not loop.last %}, <br>{% endif %}</li>{% endfor %}</ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col p-1">
                <div class="card mb-4">
                    <h4 class="card-header"><strong>Time to next AS Level exam</strong></h4>
                    <div class="card-body">
                        <h1 class="text-center"><strong data-exam-datetime="{{ next_as_exam.date | format_datetime_countdown }}"><div class="countdown"></div></strong></h1>
                        <h5 class="text-center"><strong>Date:</strong> {{ next_as_exam.date | format_datetime }} ({{ next_as_exam.time }})</h5>
                        <h5 class="text-center"><strong>Subjects:</strong><br></h5>
                        {% for subject in next_as_exam.subjects %}
                            <h6 class="m-0"><b>{{subject.subject}}:</b></h6>
                            <div class="centre-list">
                                <ul>{% for exam in subject.exams %}<li><span style="color: var(--bs-primary);">{{exam.board}} {{exam.subject}}</span> {{exam.title}}: {{exam.duration.replace(' ', '&nbsp;') | safe}}{% if not loop.last %}, <br>{% endif %}</li>{% endfor %}</ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col p-1">
                <div class="card mb-4">
                    <h4 class="card-header"><strong>Time to next A Level exam</strong></h4>
                    <div class="card-body">
                        <h1 class="text-center"><strong data-exam-datetime="{{ next_a_exam.date | format_datetime_countdown }}"><div class="countdown"></div></strong></h1>
                        <h5 class="text-center"><strong>Date:</strong> {{ next_a_exam.date | format_datetime }} ({{ next_a_exam.time }})</h5>
                        <h5 class="text-center"><strong>Subjects:</strong><br></h5>
                        {% for subject in next_a_exam.subjects %}
                            <h6 class="m-0"><b>{{subject.subject}}:</b></h6>
                            <div class="centre-list">
                                <ul>{% for exam in subject.exams %}<li><span style="color: var(--bs-primary);">{{exam.board}} {{exam.subject}}</span> {{exam.title}}: {{exam.duration.replace(' ', '&nbsp;') | safe}}{% if not loop.last %}, <br>{% endif %}</li>{% endfor %}</ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1">
            <div class="col p-1">
                <div class="card mb-4">
                    <h4 class="card-header"><strong>Info:</strong></h4>
                    <div class="card-body">
                        <p>AM exams are set to start at 9:00 AM.<br>PM exams are set to start at 13:30 PM.<br>Actual start times may vary between centres.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="module">
    import {updateCountdown} from "/static/countdown.js";
    // Initial countdown update
    updateCountdown('[data-exam-datetime]');
    // Update countdown every second
    setInterval(function() { updateCountdown('[data-exam-datetime]'); } , 1000);
</script>
{% endblock %}