{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h2><strong>Home</strong></h2>
        <br>
    </div>
    <div class="container">
        <div class="row row-cols-1">
            <div class="col p-1">
                <div class="card mb-4">
                    <h4 class="card-header"><strong>See all exams for a specific qualification:</strong></h4>
                    <div class="card-body text-center p-2">
                        <a href="{{url_for("main.exams", level="2")}}" class="m-1 btn btn-lg btn-primary">GCSE</a>
                        <a href="{{url_for("main.exams", level="3a")}}" class="m-1 btn btn-lg btn-primary">AS Level</a>
                        <a href="{{url_for("main.exams", level="3b")}}" class="m-1 btn btn-lg btn-primary">A Level</a>
                        <br><br>
                        <p class="m-0">To see your specific exams, <a href="{{url_for("main.login")}}">log in</a>, or <a href="{{url_for("main.signup")}}">sign up</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col p-1">
                <div class="card mb-4">
                    <h4 class="card-header"><strong>Time to next GCSE exam</strong></h4>
                    <div class="card-body text-center">
                        <h1><strong data-exam-datetime="{{ next_gcse_exam.date }}"><div class="countdown"></div></strong></h1>
                        <h5><strong>Date:</strong> {{ next_gcse_exam.date }} ({{ next_gcse_exam.time }})</h5>
                        <h5><strong>Subject:</strong> {{ next_gcse_exam.subject }}</h5>
                        <h5><strong>Title:</strong> {{ next_gcse_exam.title }}</h5>
                        <h5><strong>Duration:</strong> {{ next_gcse_exam.duration }}</h5>
                    </div>
                </div>
            </div>
            <div class="col p-1">
                <div class="card mb-4">
                    <h4 class="card-header"><strong>Time to next AS Level exam</strong></h4>
                    <div class="card-body text-center">
                        <h1><strong data-exam-datetime="{{ next_as_level_exam.date }}"><div class="countdown"></div></strong></h1>
                        <h5><strong>Date:</strong> {{ next_as_level_exam.date }} ({{ next_as_level_exam.time }})</h5>
                        <h5><strong>Subject:</strong> {{ next_as_level_exam.subject }}</h5>
                        <h5><strong>Title:</strong> {{ next_as_level_exam.title }}</h5>
                        <h5><strong>Duration:</strong> {{ next_as_level_exam.duration }}</h5>
                    </div>
                </div>
            </div>
            <div class="col p-1">
                <div class="card mb-4">
                    <h4 class="card-header"><strong>Time to next A Level exam</strong></h4>
                    <div class="card-body text-center">
                        <h1><strong data-exam-datetime="{{ next_a_level_exam.date }}"><div class="countdown"></div></strong></h1>
                        <h5><strong>Date:</strong> {{ next_a_level_exam.date }} ({{ next_a_level_exam.time }})</h5>
                        <h5><strong>Subject:</strong> {{ next_a_level_exam.subject }}</h5>
                        <h5><strong>Title:</strong> {{ next_a_level_exam.title }}</h5>
                        <h5><strong>Duration:</strong> {{ next_a_level_exam.duration }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if from_url == "examcountdown.live" %}
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ExamCountdown.live is now MyExams.net!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Your account has already been transferred. If you had an account on examcountdown.live, you can log in using the same credentials.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
<script>
  //Make the currentTab Active
  document.getElementById("home-tab").classList.add("active");

  {% if from_url == "examcountdown.live" %}
  document.addEventListener("DOMContentLoaded", function() {
    var myModal = new bootstrap.Modal(document.querySelector('.modal'));
    myModal.show();
  });
  {% endif %}
</script>
<script type="module">
    import {updateCountdown} from "/static/countdown.js";
    // Initial countdown update
    updateCountdown('[data-exam-datetime]');
    // Update countdown every second
    setInterval(function() { updateCountdown('[data-exam-datetime]'); } , 1000);
</script>
{% endblock %}