{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="container">
        <h2><strong>Reset Password</strong></h2>
        <br>
    </div>
    <div class="container">
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-floating mb-3">
                {{ form.email(class="form-control", placeholder="email") }}
                <label for="floatingInput">{{ form.email.label }}</label>
            </div>

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}