{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block head %}
    <script>
        function onSubmit(token) {
            document.getElementById("signup-form").submit();
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2><strong>Sign Up</strong></h2>
        <br>
    </div>
    <div class="container">
        <form id="signup-form" method="POST" action="{{ url_for("main.signup") }}">
            {{ form.hidden_tag() }}

            <div class="form-floating mb-3">
                {{ form.username(class="form-control", placeholder="username", minlength="3", maxlength="20") }}
                <label>{{ form.username.label }}</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.email(class="form-control", placeholder="email", type="email", maxlength="100") }}
                <label>{{ form.email.label }}</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.password_hash(class="form-control", placeholder="password") }}
                <label>{{ form.password_hash.label }}</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.password2(class="form-control", placeholder="password") }}
                <label>{{ form.password2.label }}</label>
            </div>
            <div class="mb-3">
                {{ form.privacyAgree() }}
                {{ form.privacyAgree.label }}
            </div>
  
            <button class="g-recaptcha btn btn-primary" 
            data-sitekey="{{reCAPTCHA_site_key}}" 
            data-callback='onSubmit' 
            data-action='submit'>Submit</button>

        </form>
        <br>
        <p>Already have an account? <a href="{{url_for('main.login')}}">Log in</a>. </p>
    </div>

    <script>
        // Make the currentTab Active
        document.getElementById("signup-tab").classList.add("active");
    </script>
{% endblock %}