{% extends "base.html" %}
{% block title %}Timetable{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/tableSort.css">
    <link rel="stylesheet" href="/static/css/timetable.css">
{% endblock %}

{% block content %}
    <div class="container">
        {% if not current_user.is_authenticated %}
        <h2><strong>All {{level}} Exams Timetable</strong></h2>
        {% else %}
        <h2><strong>Personal Timetable</strong></h2>
        {% endif %}
        <br>
    </div>
    <div class="container-md">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-1"></i>
            Please don't rely on these exam dates. Always check with your school or exam board for the most up-to-date information.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% if current_user.is_authenticated %}
    <div class="container-responsive container-lg p-0 px-sm-2">
        <div id="calendar" class="mb-3"></div>
    </div>
    {% endif %}
    <div class="container-md">
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sortable">
                        <thead>
                            <tr>
                                <th class="col-2" data-column="countdown">Countdown</th>
                                <th class="col-2" data-column="subject">Subject</th>
                                <th class="col-2" id="date-col" data-column="date">Date</th>
                                <th class="col-1" data-column="duration">Duration</th>
                                <th class="col-4" data-column="title">Title</th>
                                <th class="col-1" data-column="board">Board</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exam in exams %}
                            <tr data-exam-datetime="{{ exam.date | format_datetime_countdown }}">
                                <td class="countdown"></td>
                                <td>{{ exam.subject }}</td>
                                <td>{{ exam.date | format_datetime }} ({{ exam.time }})</td>
                                <td>{{ exam.duration }}</td>
                                <td>{{ exam.title }} {% if exam.tier %}({{ exam.tier }}){%endif%}</td>
                                <td>{{ exam.board }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Exam Details Modal -->
    <div class="modal fade" id="examModal" tabindex="-1" aria-labelledby="examModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centred">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="examModalLabel">Exam Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Date:</strong> <span id="modalDate"></span></p>
                    <p><strong>Time:</strong> <span id="modalTime"></span></p>
                    <p><strong>Subject:</strong> <span id="modalSubject"></span></p>
                    <p><strong>Title:</strong> <span id="modalTitle"></span></p>
                    <p><strong>Duration:</strong> <span id="modalDuration"></span></p>
                    <p><strong>Board:</strong> <span id="modalBoard"></span></p>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/tableSort.js"></script>
    <script>
        window.CALENDAR_COLOURS = [
            '#D41719', '#ff7f0e', '#2CB82C', '#1f77b4', 
            '#9467bd', '#304736', '#B01392', '#450404'
        ];

        window.CALENDAR_EVENTS = [
            {% for exam in grouped_exams %}
            {
                title: {{ (exam.start_date.time()|format_time 
                        ~ ": " ~ exam.subject 
                        ~ ": " ~ exam.title 
                        ~ " (" ~ exam.board ~ ", " ~ exam.duration 
                        ~ (", " ~ exam.tier if exam.tier else "") 
                        ~ ")") | tojson }},
                start: "{{ exam.start_date.isoformat() }}",
                end: "{{ exam.end_date.isoformat() }}",
                display: 'block',
                extendedProps: {
                    subject: {{ exam.subject | tojson }},
                    title: {{ exam.title | tojson }},
                    tier: {{ exam.tier | tojson }},
                    duration: {{ exam.duration | tojson }},
                    board: {{ exam.board | tojson }},
                    time: {{ exam.time | tojson }}
                }
            },
            {% endfor %}
        ];
    </script>
    <script src="/static/js/calendar.js"></script>
    <script>
        const sortHeader = document.getElementById('date-col');
        sortHeader.click();
    </script>
    <script type="module">
        import {updateCountdown} from "/static/countdown.js";
        // Initial countdown update
        updateCountdown('tr[data-exam-datetime]');
        // Update countdown every second
        setInterval(function() { updateCountdown('tr[data-exam-datetime]'); } , 1000);
    </script>
{% endblock %}