{% extends "base.html" %}
{% block title %}Timetable{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/tableSort.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h2><strong>Personal Timetable</strong></h2>
        <br>
    </div>
    <div class="container-md">
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sortable">
                        <thead>
                            <tr>
                                <th class="col-2">Countdown</th>
                                <th class="col-2">Subject</th>
                                <th class="col-2" id="date-col">Date</th>
                                <th class="col-1">Duration</th>
                                <th class="col-4">Title</th>
                                <th class="col-1">Board</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exam in exams %}
                            <tr data-exam-datetime="{{ exam.date }}">
                                <td class="countdown"></td>
                                <td>{{ exam.subject }}</td>
                                <td>{{ exam.date | format_time }} ({{ exam.time }})</td>
                                <td>{{ exam.duration }}</td>
                                <td>{{ exam.title }} {% if exam.tier %}({{ exam.tier }}){%endif%}</td>
                                <td>{{ exam.board }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<script src="/static/tableSort.js"></script>
<script>
    //Make the currentTab Active
    document.getElementById("timetable-tab").classList.add("active");
</script>
<script type="module">
    import {updateCountdown} from "/static/countdown.js";
    // Initial countdown update
    updateCountdown('tr[data-exam-datetime]');
    // Update countdown every second
    setInterval(function() { updateCountdown('tr[data-exam-datetime]'); } , 1000);
</script>
{% endblock %}